<div class="container mt-5">
    <h4>Inernal server error</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">This is a SERVER SIDE ERROR!</p>
        <ol>
            <li>Check the network tab in dev tools.</li>
            <li>Reproduce the request in postman - if the same error occurs then frontend is not the cause.</li>
        </ol>
        <h5>Stack trace</h5>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>
</div>
