<carousel  [isAnimated]="true">
    <slide class="slide">
      <a href="https://www.pcworld.com/article/1928214/amd-radeon-rx-7600-review.html" target="_blank">
        <img src="assets\Images\AMDRX7600.png" alt="First slide" style="display: block; width: 100%;">
      </a>
      <div class="carousel-caption d-none d-md-block" style="font-weight: bold;">
        <p>CLICK ON THE IMAGE TO FIND OUT MORE</p>
      </div>
    </slide>
    <slide class="slide">
      <a href="https://www.nvidia.com/en-us/geforce/news/rtx-40-series-graphics-cards-announcements/" target="_blank">
        <img src="assets\Images\NvidiaEvent.jpg" alt="Second slide" style="display: block; width: 100%;">
      </a>
      <div class="carousel-caption d-none d-md-block " style="font-weight: bold;">
        <p>CLICK ON THE IMAGE TO FIND OUT MORE</p>
      </div>
    </slide>
    <slide class="slide">
      <a href="https://github.com/MiloshMilinkov" target="_blank">
        <img src="assets\Images\github.png" alt="Third slide" style="display: block; width: 100%;" >
      </a>
      <div class="carousel-caption d-none d-md-block" style="font-weight: bold;">
        <p>CLICK ON THE IMAGE TO FIND OUT MORE</p>
      </div>
    </slide>
    
  </carousel>
 
