.featured{
    height: 250px;
}
img{
    object-fit: cover;
    height: 600px;
    width: 100%;
}

div{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the alpha value (0.5) to adjust the transparency */
    backdrop-filter: blur(5px); /* Adjust the blur value as per your preference */
}