<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3">
                    Sign up
                </h1>
            </div>
            <app-text-input [formControl]="registerForm.controls['displayName']" [label]="'Display name'"></app-text-input>
            <app-text-input [formControl]="registerForm.controls['email']" [label]="'Email address'"></app-text-input>
            <app-text-input [formControl]="registerForm.controls['password']" [type]="'password'" [label]="'Password'"></app-text-input>
            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>
            <!-- <div class="form-floating mb-3">
                <input 
                    [class.is-invalid] = "loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                    type="email" 
                    formControlName="email" 
                    class="form-control"
                    id="floatingInput" 
                    placeholder="Email">
                <label for="floatingInput">Email address</label>
                <div *ngIf="loginForm.get('email')?.errors?.['required']" class="invalid-feedback">Please choose an email</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']"class="invalid-feedback">Invalid email</div>
              </div> -->
              <!-- <div class="form-floating">
                <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div> -->
              <div class="d-grid">
                <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Sign up</button>
            </div>
        </form>  
    </div>
</div>
