<div class="container ">
    
    <div class="row">
        <section class="col-3">

            <h5 class="sortOptHeaders  ms-3 ">
                Sort
            </h5> 
            <select class="form-select mb-4" (change)="onSortSelected($event)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
            </select>

             <cdk-accordion class="example-accordion">
                <cdk-accordion-item
                
                  #accordionItem1="cdkAccordionItem"
                  class="example-accordion-item"
                  role="button"
                  tabindex="0"
                  [attr.id]="'accordion-header-' "
                  [attr.aria-expanded]="accordionItem1.expanded"
                  [attr.aria-controls]="'accordion-body-' ">
                  <div class="example-accordion-item-header" (click)="accordionItem1.toggle()">
                    <p style="margin: 0;">PRODUCT BRANDS</p> 
                    <span class="example-accordion-item-description">
                      Click to {{ accordionItem1.expanded ? 'close' : 'open' }}
                    </span>
                  </div>
                  <div
                    class="example-accordion-item-body"
                    role="region"
                    [style.display]="accordionItem1.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-' "
                    [attr.aria-labelledby]="'accordion-header-' ">
                    <ul class="list-group my-3">
                        <li class="list-group-item " *ngFor="let brand of brands"
                        [class.active]="brand.id===shopParams.brandId"
                        [value]="brand.id"
                        (click)="onBrandSelected(brand.id)"
                        >{{brand.name}}</li>
                    </ul>
        
                  </div>
                </cdk-accordion-item>
                <cdk-accordion-item
                
                  #accordionItem2="cdkAccordionItem"
                  class="example-accordion-item"
                  role="button"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem2.expanded"
                  [attr.aria-controls]="'accordion-body-' ">
                  <div class="example-accordion-item-header" (click)="accordionItem2.toggle()">
                    <p style="margin: 0;">PRODUCT TYPES</p> 
                    <span class="example-accordion-item-description">
                      Click to {{ accordionItem2.expanded ? 'close' : 'open' }}
                    </span>
                  </div>
                  <div
                    class="example-accordion-item-body"
                    role="region"
                    [style.display]="accordionItem2.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-' "
                    [attr.aria-labelledby]="'accordion-header-' ">
                    <ul class="list-group my-3">
                        <li class="list-group-item " *ngFor="let type of types"
                        [class.active]="type.id===shopParams.typeId"
                        [value]="type.id"
                        (click)="onTypeSelected(type.id)"
                        >{{type.name}}</li>
                    </ul>
        
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>

 
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">

                <app-paging-header
                    [totalCount]="totalCount"
                    [pageNumber]="shopParams.pageNumber"
                    [pageSize]="shopParams.pageSize">  
                </app-paging-header>
                
                <div class="d-flex mt-2">
                    <input (keyup.enter)="onSearch()" placeholder="search" class="form-control me-2" #search>
                    <button (click)="onSearch()" class="btn btn-outline-primary mx-2">Search</button>
                    <button (click)="onResetSearch()" class="btn btn-outline-success ">Reset</button>
                </div>

            </div>
            <div class="row row-cols-3 g-3 mb-5">
                <div class="col" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
            
            <div class="d-flex justify-content-center "  *ngIf="totalCount>0">
                <app-pager
                    [totalCount]="totalCount"
                    [pageSize]="shopParams.pageSize"
                    (pageChanged)="onPageChanged($event)"
                ></app-pager>
            </div>

        </section>
    </div>
</div>