<header class="mainHeader d-flex flex-md-row align-items-center justify-content-between p-3 px-4 mb-3 border-bottom fixed-top shadow-sm">
    <img class="logoImage" src="/assets/Images/storeLogo.png" alt="Store logo." routerLink="/">  
    <nav class="my-2 text-uppercase fs-4">
        <a class="me-3 py-2" 
           routerLink="/" 
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">Home
        </a>
        <a class="me-3 py-2" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="me-3 py-2" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a class="me-3 py-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="d-flex flex-ms-column align-items-center">
        <a routerLink="/basket"  class="position-relative">
            <i class="fa fa-shopping-cart  fa-2x me-5 text-white"></i>
            <div class="cart-no" *ngIf="(basketService.basketSource$ | async) as basket">
                {{getCount(basket.items)}}
            </div>
        </a>
        <ng-container *ngIf="(accountService.currentUser$ | async) === null">
            <a routerLink="/account/login" class="btn btn-outline-secondary me-2 text-white" >Login</a>
            <a routerLink="/account/register" class="btn btn-outline-secondary me-3 text-white">Sign Up</a>
        </ng-container>
        <ng-container  *ngIf="accountService.currentUser$ | async as user">
            <div class="dropdown ms-3 me5" style="cursor: pointer;" dropdown>
                <a dropdownToggle class="dropdown-toggle">
                    <strong>Welcome {{user.displayName}}</strong>
                </a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <li class="py-1">
                        <a routerLink="/basket" class="dropdown-item">
                            <i class="fa fa-shopping-cart me-3">View basket</i>
                        </a>
                    </li>
                    <li class="py-1">
                        <a routerLink="/orders" class="dropdown-item">
                            <i class="fa fa-history me-3">View orders</i>
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="py-1">
                        <a (click)="accountService.Logout()" class="dropdown-item">
                            <i class="fa fa-sign-out me-3">Logout</i>
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
       
    </div>
</header>