
.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: purple;
    color: white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    top: -12px;
    right: 32px;
}
.mainHeader{
    background-color: #202020;
}
a{
    text-decoration: none;
    color:#FF97E9;

    &.active{
        color:#202020;
  z-index: -1;
  background-color: #FF97E9;
  border-radius: 15px;
    }
}
.logoImage{
    max-height:100px;
    cursor: pointer;
}

p{
    color:#FF97E9;
}