
.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: purple;
    color: white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    top: -12px;
    right: 32px;
}
.mainHeader{
    background-color: #A19EA0;
}
a{
    text-decoration: none;
    color:#343a40;

    &.active{
        color:#9D00FF
    }
}
.logoImage{
    max-height:70px;
    cursor: pointer;
}