.logoImage{
    max-height:70px;
}
.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: purple;
    color: white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    top: -12px;
    right: 32px;
}
.mainHeader{
    background-color: #A19EA0;
}